body {
	background: #483d8b url('../images/sky.jpg');
}

.col-md-3 {
	float: left;
	margin-top: 16%;
}

/*full moon*/
.full-moon {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0em 0em 1em #ccc;
}

/*half moon*/
.half-moon {
	height: 12em;
	width: 6em;
	background: #fff;
	border-bottom-left-radius: 24em;
	border-top-left-radius: 24em;
	box-shadow: 0em 0em 1em #ccc;
}

/*crescent moon*/
.crescent-moon {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	background: transparent;
	box-shadow: -3em 0 0 1em #fff,
				-5em 0 3em rgba(255, 255, 255, 0.3);
	transform: rotate(-20deg) translate(3em);
}

/*small crescent moon*/
.t-crescent-moon {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	background: transparent;
	box-shadow: -2em 0em 1em #fff;
	transform: rotate(-20deg) translate(3em);
}

/*footer*/
.signature {
	width: 99%;
	position: absolute;
	bottom: 2em;
	left: 0;
}
.signature h2 {
	font-size: 24px;
	font-family: 'Lobster', cursive;
}
.signature p {
	cursor: pointer;
	font-size: 16px;
	font-family: 'Lobster', cursive;
}
.signature p a {
	color: inherit;
	text-decoration: none;
}
