body {
	background: #483d8b url('../images/sky.jpg');
}

.col-md-3 {
	float: left;
	margin-top: 16%;
}

/*full moon*/
.full-moon {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	background: #fff;
	box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, 0.3);
}

/*half moon*/
.half-moon {
	height: 12em;
	width: 6em;
	background: #fff;
	border-bottom-left-radius: 24em;
	border-top-left-radius: 24em;
	box-shadow: -0.5em 0.5em 1em rgba(255, 255, 255, 0.3);
}

/*crescent moon*/
.crescent-moon {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	background: transparent;
	box-shadow: -3em 0 0 1em #fff,
				-5em 0 3em rgba(255, 255, 255, 0.3);
	transform: rotate(-20deg) translate(3em);
}

/*small crescent moon*/
.t-crescent-moon {
	height: 12em;
	width: 12em;
	border-radius: 50%;
	background: transparent;
	box-shadow: -2em 0em 1em #fff;
	transform: rotate(-20deg) translate(3em);
}